@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

/* Suppress Mapbox GL default outline */
.mapboxgl-map {
  outline: none;
}
.mapboxgl-canvas {
  outline: none;
}
